@font-face {
  font-family: "Karla";
  src: local('Karla'), url('./fonts/Karla-Regular.ttf') format("truetype");
}

@font-face {
  font-family: "Markazi";
  src: local('Markazi'), url('./fonts/MarkaziText-Regular.ttf') format("truetype");
}

body {
  margin: 0;
}
* {
  font-family:Karla;
  position: relative;
  color:#333333;
  box-sizing: border-box;
}